/* ====== Variables ====== */
:root {
  --all-bgColor: #090E11;
  --header-bgColor: #2A2F32;
  --secondary-txt: #B1B3B5;
  --highlight-bgColor: #323739;
  --chatsList-bgColor: #131C21;
  --chatList-border: #242d32;
}

/* ====== General Styles ====== */
body {
  background-color: var(--all-bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

/* ====== Main Section Styles ====== */
main {
  /* Have to use more responsive width after filling the container
  cuz otherwise it collapses.
  */
  width: 1396px;
  /* max-width: 1396px; */
  min-height: 675.600px;
  /* border: 1px solid red; */
}

/* ====== Chat List Styles ====== */
main .chat_list {
  max-width: 418.800px;
  min-height: inherit;
  border-right: 1px solid rgba(241, 241, 242, .11);
}

/* ====== Chat List Header Styles ====== */
header {
  display: flex;
  background-color: var(--header-bgColor);
  /* and again min-height: 39px; works not well here too like in previous
  project, gotta figure out soon why, stop being lazy boy :d */
  height: 39px;
  padding: 10px 16px;
  justify-content: space-between;
}

/* ====== Chat List Profile Styles ====== */
.chat_list .profile {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.chat_list .profile img {
  cursor: pointer;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.chat_list .profile span {
  color: var(--secondary-txt);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  margin-left: 20.5px;
  font-family: 'Segoe UI', sans-serif;
}

/* ====== Chat List Nav Styles ====== */
.nav_btns {
  width: 124px;
  margin-top: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_btns li svg {
  color: var(--secondary-txt);
  cursor: pointer;
}

/* ====== Chat List Search Input Styles ====== */
.chat_list_search {
  height: 49px;
  background-color: var(--chatsList-bgColor);
  border-bottom: 1px solid var(--chatList-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_list_search label {
  background-color: var(--highlight-bgColor);
  height: 35px;
  width: 393px;
  border-radius: 18px; 
  display: flex;
  align-items: center;
  margin-left: -1px; 
  /* 
  justify-content: space-between;
  padding-left: 65px;
  padding-right: 20px;
  */
}

.chat_list_search label button {
  background-color: transparent;
  border: none;
  color: #848788;
  cursor: pointer;
  margin-left: 6px;
  margin-top: 3px;
}

.chat_list_search input {
  background-color: var(--highlight-bgColor);
  min-width: 295.8px;
  border: none;
  color: #d4d5d7;
  margin-top: 2px;
  margin-left: 21px;
  outline: none;
}

.chat_list_search input::placeholder {
  font-family: 'Segoe UI', sans-serif;
  color: #848788;
  font-size: 14px;
  font-weight: 400;
}
